@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The prupose of these website is to enable recruitment company to publish new job offers. Then it allows every authorized user to apply for job offer with attached CV file.</p>
