@model List<Company> 
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-12">
        <h2>Companies</h2>


        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = company.ID}, new {@class = "btn btn-primary"})
                        @using (Html.BeginForm("Delete", "Companies", new {company.ID}, FormMethod.Post, null, new {style = "display:inline;"}))
                        {
                                @*@Html.AntiForgeryToken()*@
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        @Html.ActionLink("Create", "Create", "Companies", null, new { @class = "btn btn-primary" })
    </div>
 
</div>




















@*<ul>
    @foreach (var joboffer in Model)
    {
        <li> @Html.ActionLink(joboffer.JobTitle,"Details","JobOffer",new {id = joboffer.ID}, null) </li>
                                                                             
    }
</ul>*@
